[0;1;32m●[0m autoframe-worker.service - Free AutoFrame RQ worker
     Loaded: loaded (]8;;file://resizemyvideo/etc/systemd/system/autoframe-worker.service/etc/systemd/system/autoframe-worker.service]8;;; [0;1;32menabled[0m; preset: [0;1;32menabled[0m)
     Active: [0;1;32mactive (running)[0m since Sat 2025-10-18 13:17:26 UTC; 5s ago
   Main PID: 69994 (rq)
      Tasks: 3 (limit: 4652)
     Memory: 22.5M (peak: 22.7M)
        CPU: 121ms
     CGroup: /system.slice/autoframe-worker.service
             ├─[0;38;5;245m69994 /opt/codex1/.venv/bin/python3 /opt/codex1/.venv/bin/rq worker --with-scheduler --path /opt/codex1 autoframe-jobs[0m
             └─[0;38;5;245m69996 /opt/codex1/.venv/bin/python3 /opt/codex1/.venv/bin/rq worker --with-scheduler --path /opt/codex1 autoframe-jobs[0m

Oct 18 13:17:27 resizemyvideo rq[69994]:   parser = self.make_parser(ctx)
Oct 18 13:17:27 resizemyvideo rq[69994]: /opt/codex1/.venv/lib/python3.12/site-packages/click/core.py:1206: UserWarning: The parameter --serializer is used more than once. Remove its duplicate as parameters should be unique.
Oct 18 13:17:27 resizemyvideo rq[69994]:   self.parse_args(ctx, args)
Oct 18 13:17:27 resizemyvideo rq[69994]: /opt/codex1/.venv/lib/python3.12/site-packages/click/core.py:1206: UserWarning: The parameter -S is used more than once. Remove its duplicate as parameters should be unique.
Oct 18 13:17:27 resizemyvideo rq[69994]:   self.parse_args(ctx, args)
Oct 18 13:17:27 resizemyvideo rq[69994]: 13:17:27 Worker rq:worker:e796cdfab6374bc69ded640b63ed5124 started with PID 69994, version 1.16.1
Oct 18 13:17:27 resizemyvideo rq[69994]: 13:17:27 Subscribing to channel rq:pubsub:e796cdfab6374bc69ded640b63ed5124
Oct 18 13:17:27 resizemyvideo rq[69994]: 13:17:27 *** Listening on autoframe-jobs...
Oct 18 13:17:27 resizemyvideo rq[69996]: 13:17:27 Scheduler for autoframe-jobs started with PID 69996
Oct 18 13:17:27 resizemyvideo rq[69994]: 13:17:27 Cleaning registries for queue: autoframe-jobs
